/* ----------Global---------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

* {
  font-family: 'Calibri';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

li {
  list-style-type: none;
}

.listblock ul li a {
  padding: 5px 30px 5px 10px;
  display: block;
}

.listblock ul li a:hover {
  background: transparent url('../img/basket.png') no-repeat 3px 170px;
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Global---------- */



/* ----------Header---------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.725));
  background-size: cover;
  padding: 20px;
}

header a {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: underline;
}

header h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.header-contents {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 550px;
    /* To test: */
  /* flex-wrap: wrap; */
}

@media (max-width: 650px) {
  header h1 {
      font-size: 1.5rem;
      width: 100%;
  }

}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Header---------- */



/* ----------Navbar (Left and two Right sections included)---------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

.navbar {
  padding: 20px;
  background-color: #666;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
}

.nav-wrapper {
  /* Will look into whether below value should be used: -------------------------------------------------------------------------------------------------------
  display: flex;
  */
  justify-content: space-between;
}

/* Left Navbar (includes Search Bar filter) */
.left-navbar {
  float: left;
  margin-top: 2.2%;
  margin-left: 4%;
  width: 30%; 
}

/* Used for magnifying glass icon */
.material-icons {
  float: left;
  font-size: 40px !important;
  color: white;
}

/* Movie search bar */
.filter-search-bar {
  float: left;
  width: 70%;
  height: 40px;
  font-size: 30px;
  font-weight: normal;
  color: white;
  background-color: #666;
  border-radius: 6px;
  border: 1px solid;
  border-style: none;
  margin-left: 25px;
}

/* Create two different columns that float next to each other */
.right-navbar-column1 {
  float: left;
  width: 29%;
  padding: 10px;
  margin-top: 2.2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: large;
  color: white;
}
.right-navbar-column2 {
  float: left;
  width: 29%;
  padding: 10px;
  margin-top: 2.2%;
  font-size: large;
  color: white;
}

/* Clear floats after the columns */
.right-navbar-row:after {
  content: "";
  display: table;
  clear: both;
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Navbar (Left and two Right sections included)---------- */



/* ----------Year Range Slider filter---------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

.filter-slider{
  margin-left: 100px;
}

input[type="range"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15%;
  margin-top: 5px;
  outline: none;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

.slider-track{
  width: 15%;
  margin-top: 5px;
  height: 5px;
  position: absolute;
  border-radius: 5px;
}

.filter-label{
    width: 15%;
    padding: 10px 0;
    color: #ffffff;
    margin-left: 100px;
}

.year-column1 {
  float: left;
  width: 29%;
  padding: 10px;
  margin-top: 2.2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: large;
  color: white;
}
.year-column2 {
  float: left;
  width: 29%;
  padding: 10px;
  margin-top: 2.2%;
  font-size: large;
  color: white;
}

/* Clear floats after the columns */
.year-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Slider - Webkit CSS (Chrome, Safari, etc.) */

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 1.3em;
  width: 1.3em;
  background-color: #BBB;
  cursor: pointer;
  margin-top: -6px;
  pointer-events: auto;
  border-radius: 50%;
}

input[type="range"]:active::-webkit-slider-thumb{
  background-color: lightgrey;
  border: 3px solid #ffffff;
}

/* Slider - Mozilla Firefox CSS */

input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}

/* Slider - Internet Explorer CSS */

input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}

input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Year Range Slider filter---------- */



/* ----------Type Radio Button filter (Season included)---------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

/* The radio button class */
.filter-radio {
  position: relative;
  padding-left: 35px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
}

/* Hide the browser's default radio button */
.filter-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #666;
  border-radius: 50%;
  border: 2px solid white;
}

/* On mouse-over, add a grey background color */
.filter-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.filter-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.filter-radio .checkmark:after {
 	top: 2px;
	left: 2px;
	width: 12px;
	height: 12px;
	border-radius: 80%;
	background: white;
}


/* Season Text Box */
input[type="number"]{
  padding-left: 1px;
  margin-left: 10px;
  position: absolute;
  height: 25px;
  width: 50px;
  font-size: 20px;
}

/* Used for words 'Season No.' on index.html */
.filter-season {
  font-size: 21px;
}


/* Used for the word 'TYPE' on index.html */
.label-type {
  font-size: 20px;
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Type Radio Button filter (Season included)---------- */



/* ----------Main Body/Content---------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

.search-results-bar {
  float: left;
  height: 700px;
  width: 40%;
  align-items: center;
  display: grid;
  flex-direction: column;
  color: #3A3A3A;
  border-right:grey solid 1px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-results {
  height: 100%;
  float: left;
  align-items: center;
  display: grid;
  flex-direction: column;
}

#resultNo {
  padding: 40px 60px 40px 60px;
  font-size: large;  
}

.movie-icon {
  margin-bottom: 0.5em;
}

#moviesList-default-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.search-details {
  float: right;
  color: #3A3A3A;
  width: 60%;
}

/* ----------Scroll Bar---------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* Width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BBB;  
  /* Uncomment these to have a shorter scroll bar thumb/handle 
  border-bottom: 160px solid transparent;
  background-clip: padding-box;    
  */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #BBB; 
  /* Uncomment these to have a shorter scroll bar thumb/handle 
  border-bottom: 160px solid transparent;
  background-clip: padding-box;    
  */
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Scroll Bar---------- */
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Main Body/Content---------- */



/* ----------Search Results Cards-------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

/*TODO: Change bottom border */
.card {
  min-width: 100%; 
  padding-top: 25px;
  margin-left: 20px;
  display: grid;
  border-bottom: 2px solid #dfdddd;
  justify-content: start;
  grid-template-areas:
      'poster header'
      'poster meta'
      'poster plot'
      'poster plot';
  cursor: pointer;
}

@media (max-width: 650px) {
  .card {
      gap: 1em;
      grid-template-columns: 40% 50%;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: 0.75fr 0.5fr 0.9fr;

      grid-template-areas:
          'poster header'
          'poster meta'
          'plot plot';
  }
}

/* On mouse-over, add a grey background color */
.card:hover {
  background-color: #ccc;
}

.card-poster {
  grid-area: poster;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 2px;
  height: 112.5px;
  object-fit: cover;
  width: 135px;
}

.card-header {
  grid-area: header;
  float: left;
  display: flex;
  margin-bottom: 0.5em;
}

.card-year {
  color:grey;
  font-size: 20px;
}

.card-meta {
  grid-area: meta;
  float: left;
  color: #111827;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

@media (max-width: 650px) { 
  .card-meta {
      flex-direction: row;
      flex-wrap: wrap;
  }
}

.card-title {
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  margin-top: 10px;
  margin-right: 0.5em;
}

@media (max-width: 650px) { 
  .card-title {
      margin-right: 0.29em;
  }
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Search Results Cards-------- */



/* ----------Movie Details Card-------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

.details-card {
  max-height: auto;
  max-width: 800px;
  padding-top: 25px;
  display: grid;
  column-gap: 1.5em;
  border-bottom: 1px solid #dfdddd;
  padding: 1em;
  grid-auto-rows: 1fr 0.5fr 1fr 1fr;
  grid-template-areas:
      'details-poster details-header'
      'details-poster details-meta'
      'details-poster details-plot'
      'details-poster details-plot';
}

@media (max-width: 650px) {
  .detailsCard {
      gap: 1em;
      grid-template-columns: 40% 50%;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: 0.75fr 0.5fr 0.9fr;

      grid-template-areas:
          'details-poster details-header'
          'details-poster details-meta'
          'details-plot details-plot';
  }
}

.details-card-plot {
  border-bottom: 1px solid #dfdddd;
  padding: 1em;
  grid-area: details-plot;
  line-height: 1.5;
  font-size: 20px;
}

.details-card-poster {
  grid-area: details-poster;
  border-radius: 2px;
  height: 350px;
  max-width: 300px;
  object-fit: cover;
  width: auto;
}

.details-card-header {
  grid-area: details-header;
  align-items: center;
  display: flex;
  color: black;
  font-size: 20px;
  margin-bottom: 0.5em;
}

.details-card-actors {
  align-items: center;
  color: black;
  display: flex;
  font-size: 20px;
  margin-bottom: 0.5em;
}

/* Create two equal columns that float next to each other */
.ratings-column {
  float: left;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  width: 50%;
  color: #666;
  font-size: 24px;
  border-left: 1px solid #dfdddd;
}

/* Create two equal columns that float next to each other */
.ratings-name {
  font-size: 18px;
}

/* Clear floats after the columns */
.ratings:after {
  content: "";
  display: table;
  clear: both;
}

.card-btn {
  border: none;
  font-size: 1em;
  width: 100px;
}

@media (max-width: 650px) {
  .remove-watchlist-btn,
  .watchlist-btn {
      float:right;
      text-align: left;
      width: 100%;
  }
}
.card-watchlist:hover,
.card-watchlist:focus {
  cursor: pointer;
  text-decoration: underline;
}

.card-watchlist-plus-icon {
  margin-bottom: -2px;
  margin-right: 2px;
}

.details-card-meta {
  grid-area: details-meta;
  align-items: center;
  color: #3A3A3A;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

@media (max-width: 650px) {
  .details-card-meta {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .details-card-runtime {
      margin-right: 1em;
  }

  #details-watchlistBtn {
      width: 100%;
  }
}

.remove-watchlist-btn {
  display: none;
}

@media (max-width: 650px) {
  .card-watchlist {
      width: 100%;
  }
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Movie Details Card-------- */



/* ----------Watchlist Page---------- */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

#watchlist-default-display-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* ----------Watchlist Page---------- */