* {
  font-family: 'Calibri';
  padding: 0;
  margin: 0;
}


button {
  background: white;
  color: var(--greyDark);
  -webkit-appearance: none;
}

/* Header */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.725));
  background-size: cover;
  padding: 20px;
}

header a {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: underline;
}

header h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.header-contents {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 550px;
}

@media (max-width: 650px) {
  header h1 {
      font-size: 1.5rem;
      width: 100%;
  }

}

/* Navbar */
.navbar {
  padding: 20px;
  background-color: #666;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
}

.nav-wrapper {
  /* Will look into whether below value should be used:
  display: flex;
  */
  justify-content: space-between;
}


/* Left Navbar (includes Search Bar filter */
.left-navbar {
  float: left;
  margin-top: 3%;
  margin-left: 4%;
  width: 30%; 
}

.material-icons {
  float: left;
  font-size: 40px !important;
  color: white;
}


.filter-search-bar {
  float: left;
  width: 80%;
  height: 40px;
  font-size: large;
  color: white;
  background-color: #666;
}


/* Right Navbar (includes Year Range Slider filter and Movie Type Radio Button filter */
.right-navbar {
  float: right;
  margin-top: 3%;
  margin-right: 4%;
  width: 60%;
}

.yearRange {
  background-color: #666;
  color:white; 
  border:0; 
  font-weight:bold;
}

.filter-slider {
  float: left;
  opacity: 100%;
  width: 40%;
  height: 40px;
  font-size: large;
  color: white;
  background-color: #666;
}

.filter-buttons {
  float: left;
  margin-left: 50px;
  width: 40%;
  height: 40px;
  font-size: large;
  color:white; 
}

/* Main Body/Content */
.search-results {
  float: left;
  width: 35%;
}

.search-details {
  float: right;
  width: 65%;
}